/* Padding - All Sides */
.p-0 {
  padding: var(--space-0);
}
.p-1 {
  padding: var(--space-1);
}
.p-2 {
  padding: var(--space-2);
}
.p-3 {
  padding: var(--space-3);
}
.p-4 {
  padding: var(--space-4);
}
.p-5 {
  padding: var(--space-5);
}
.p-6 {
  padding: var(--space-6);
}
.p-7 {
  padding: var(--space-7);
}
.p-8 {
  padding: var(--space-8);
}
.p-9 {
  padding: var(--space-9);
}
.p-10 {
  padding: var(--space-10);
}
.p-11 {
  padding: var(--space-11);
}
.p-12 {
  padding: var(--space-12);
}
.p-13 {
  padding: var(--space-13);
}
.p-14 {
  padding: var(--space-14);
}
.p-15 {
  padding: var(--space-15);
}
.p-16 {
  padding: var(--space-16);
}
.p-17 {
  padding: var(--space-17);
}
.p-18 {
  padding: var(--space-18);
}
.p-19 {
  padding: var(--space-19);
}
.p-20 {
  padding: var(--space-20);
}
.p-21 {
  padding: var(--space-21);
}
.p-22 {
  padding: var(--space-22);
}
.p-23 {
  padding: var(--space-23);
}
.p-24 {
  padding: var(--space-24);
}
.p-25 {
  padding: var(--space-25);
}
.p-26 {
  padding: var(--space-26);
}
.p-27 {
  padding: var(--space-27);
}
.p-28 {
  padding: var(--space-28);
}
.p-29 {
  padding: var(--space-29);
}
.p-30 {
  padding: var(--space-30);
}
.p-31 {
  padding: var(--space-31);
}
.p-32 {
  padding: var(--space-32);
}
.p-33 {
  padding: var(--space-33);
}
.p-34 {
  padding: var(--space-34);
}
.p-35 {
  padding: var(--space-35);
}
.p-36 {
  padding: var(--space-36);
}
.p-37 {
  padding: var(--space-37);
}
.p-38 {
  padding: var(--space-38);
}
.p-39 {
  padding: var(--space-39);
}
.p-40 {
  padding: var(--space-40);
}

/* Padding - Top */
.pt-0 {
  padding-top: var(--space-0);
}
.pt-1 {
  padding-top: var(--space-1);
}
.pt-2 {
  padding-top: var(--space-2);
}
.pt-3 {
  padding-top: var(--space-3);
}
.pt-4 {
  padding-top: var(--space-4);
}
.pt-5 {
  padding-top: var(--space-5);
}
.pt-6 {
  padding-top: var(--space-6);
}
.pt-7 {
  padding-top: var(--space-7);
}
.pt-8 {
  padding-top: var(--space-8);
}
.pt-9 {
  padding-top: var(--space-9);
}
.pt-10 {
  padding-top: var(--space-10);
}
.pt-11 {
  padding-top: var(--space-11);
}
.pt-12 {
  padding-top: var(--space-12);
}
.pt-13 {
  padding-top: var(--space-13);
}
.pt-14 {
  padding-top: var(--space-14);
}
.pt-15 {
  padding-top: var(--space-15);
}
.pt-16 {
  padding-top: var(--space-16);
}
.pt-17 {
  padding-top: var(--space-17);
}
.pt-18 {
  padding-top: var(--space-18);
}
.pt-19 {
  padding-top: var(--space-19);
}
.pt-20 {
  padding-top: var(--space-20);
}
.pt-21 {
  padding-top: var(--space-21);
}
.pt-22 {
  padding-top: var(--space-22);
}
.pt-23 {
  padding-top: var(--space-23);
}
.pt-24 {
  padding-top: var(--space-24);
}
.pt-25 {
  padding-top: var(--space-25);
}
.pt-26 {
  padding-top: var(--space-26);
}
.pt-27 {
  padding-top: var(--space-27);
}
.pt-28 {
  padding-top: var(--space-28);
}
.pt-29 {
  padding-top: var(--space-29);
}
.pt-30 {
  padding-top: var(--space-30);
}
.pt-31 {
  padding-top: var(--space-31);
}
.pt-32 {
  padding-top: var(--space-32);
}
.pt-33 {
  padding-top: var(--space-33);
}
.pt-34 {
  padding-top: var(--space-34);
}
.pt-35 {
  padding-top: var(--space-35);
}
.pt-36 {
  padding-top: var(--space-36);
}
.pt-37 {
  padding-top: var(--space-37);
}
.pt-38 {
  padding-top: var(--space-38);
}
.pt-39 {
  padding-top: var(--space-39);
}
.pt-40 {
  padding-top: var(--space-40);
}

/* Padding - Right */
.pr-0 {
  padding-right: var(--space-0);
}
.pr-1 {
  padding-right: var(--space-1);
}
.pr-2 {
  padding-right: var(--space-2);
}
.pr-3 {
  padding-right: var(--space-3);
}
.pr-4 {
  padding-right: var(--space-4);
}
.pr-5 {
  padding-right: var(--space-5);
}
.pr-6 {
  padding-right: var(--space-6);
}
.pr-7 {
  padding-right: var(--space-7);
}
.pr-8 {
  padding-right: var(--space-8);
}
.pr-9 {
  padding-right: var(--space-9);
}
.pr-10 {
  padding-right: var(--space-10);
}
.pr-11 {
  padding-right: var(--space-11);
}
.pr-12 {
  padding-right: var(--space-12);
}
.pr-13 {
  padding-right: var(--space-13);
}
.pr-14 {
  padding-right: var(--space-14);
}
.pr-15 {
  padding-right: var(--space-15);
}
.pr-16 {
  padding-right: var(--space-16);
}
.pr-17 {
  padding-right: var(--space-17);
}
.pr-18 {
  padding-right: var(--space-18);
}
.pr-19 {
  padding-right: var(--space-19);
}
.pr-20 {
  padding-right: var(--space-20);
}
.pr-21 {
  padding-right: var(--space-21);
}
.pr-22 {
  padding-right: var(--space-22);
}
.pr-23 {
  padding-right: var(--space-23);
}
.pr-24 {
  padding-right: var(--space-24);
}
.pr-25 {
  padding-right: var(--space-25);
}
.pr-26 {
  padding-right: var(--space-26);
}
.pr-27 {
  padding-right: var(--space-27);
}
.pr-28 {
  padding-right: var(--space-28);
}
.pr-29 {
  padding-right: var(--space-29);
}
.pr-30 {
  padding-right: var(--space-30);
}
.pr-31 {
  padding-right: var(--space-31);
}
.pr-32 {
  padding-right: var(--space-32);
}
.pr-33 {
  padding-right: var(--space-33);
}
.pr-34 {
  padding-right: var(--space-34);
}
.pr-35 {
  padding-right: var(--space-35);
}
.pr-36 {
  padding-right: var(--space-36);
}
.pr-37 {
  padding-right: var(--space-37);
}
.pr-38 {
  padding-right: var(--space-38);
}
.pr-39 {
  padding-right: var(--space-39);
}
.pr-40 {
  padding-right: var(--space-40);
}

/* Padding - Bottom */
.pb-0 {
  padding-bottom: var(--space-0);
}
.pb-1 {
  padding-bottom: var(--space-1);
}
.pb-2 {
  padding-bottom: var(--space-2);
}
.pb-3 {
  padding-bottom: var(--space-3);
}
.pb-4 {
  padding-bottom: var(--space-4);
}
.pb-5 {
  padding-bottom: var(--space-5);
}
.pb-6 {
  padding-bottom: var(--space-6);
}
.pb-7 {
  padding-bottom: var(--space-7);
}
.pb-8 {
  padding-bottom: var(--space-8);
}
.pb-9 {
  padding-bottom: var(--space-9);
}
.pb-10 {
  padding-bottom: var(--space-10);
}
.pb-11 {
  padding-bottom: var(--space-11);
}
.pb-12 {
  padding-bottom: var(--space-12);
}
.pb-13 {
  padding-bottom: var(--space-13);
}
.pb-14 {
  padding-bottom: var(--space-14);
}
.pb-15 {
  padding-bottom: var(--space-15);
}
.pb-16 {
  padding-bottom: var(--space-16);
}
.pb-17 {
  padding-bottom: var(--space-17);
}
.pb-18 {
  padding-bottom: var(--space-18);
}
.pb-19 {
  padding-bottom: var(--space-19);
}
.pb-20 {
  padding-bottom: var(--space-20);
}
.pb-21 {
  padding-bottom: var(--space-21);
}
.pb-22 {
  padding-bottom: var(--space-22);
}
.pb-23 {
  padding-bottom: var(--space-23);
}
.pb-24 {
  padding-bottom: var(--space-24);
}
.pb-25 {
  padding-bottom: var(--space-25);
}
.pb-26 {
  padding-bottom: var(--space-26);
}
.pb-27 {
  padding-bottom: var(--space-27);
}
.pb-28 {
  padding-bottom: var(--space-28);
}
.pb-29 {
  padding-bottom: var(--space-29);
}
.pb-30 {
  padding-bottom: var(--space-30);
}
.pb-31 {
  padding-bottom: var(--space-31);
}
.pb-32 {
  padding-bottom: var(--space-32);
}
.pb-33 {
  padding-bottom: var(--space-33);
}
.pb-34 {
  padding-bottom: var(--space-34);
}
.pb-35 {
  padding-bottom: var(--space-35);
}
.pb-36 {
  padding-bottom: var(--space-36);
}
.pb-37 {
  padding-bottom: var(--space-37);
}
.pb-38 {
  padding-bottom: var(--space-38);
}
.pb-39 {
  padding-bottom: var(--space-39);
}
.pb-40 {
  padding-bottom: var(--space-40);
}

/* Padding - Left */
.pl-0 {
  padding-left: var(--space-0);
}
.pl-1 {
  padding-left: var(--space-1);
}
.pl-2 {
  padding-left: var(--space-2);
}
.pl-3 {
  padding-left: var(--space-3);
}
.pl-4 {
  padding-left: var(--space-4);
}
.pl-5 {
  padding-left: var(--space-5);
}
.pl-6 {
  padding-left: var(--space-6);
}
.pl-7 {
  padding-left: var(--space-7);
}
.pl-8 {
  padding-left: var(--space-8);
}
.pl-9 {
  padding-left: var(--space-9);
}
.pl-10 {
  padding-left: var(--space-10);
}
.pl-11 {
  padding-left: var(--space-11);
}
.pl-12 {
  padding-left: var(--space-12);
}
.pl-13 {
  padding-left: var(--space-13);
}
.pl-14 {
  padding-left: var(--space-14);
}
.pl-15 {
  padding-left: var(--space-15);
}
.pl-16 {
  padding-left: var(--space-16);
}
.pl-17 {
  padding-left: var(--space-17);
}
.pl-18 {
  padding-left: var(--space-18);
}
.pl-19 {
  padding-left: var(--space-19);
}
.pl-20 {
  padding-left: var(--space-20);
}
.pl-21 {
  padding-left: var(--space-21);
}
.pl-22 {
  padding-left: var(--space-22);
}
.pl-23 {
  padding-left: var(--space-23);
}
.pl-24 {
  padding-left: var(--space-24);
}
.pl-25 {
  padding-left: var(--space-25);
}
.pl-26 {
  padding-left: var(--space-26);
}
.pl-27 {
  padding-left: var(--space-27);
}
.pl-28 {
  padding-left: var(--space-28);
}
.pl-29 {
  padding-left: var(--space-29);
}
.pl-30 {
  padding-left: var(--space-30);
}
.pl-31 {
  padding-left: var(--space-31);
}
.pl-32 {
  padding-left: var(--space-32);
}
.pl-33 {
  padding-left: var(--space-33);
}
.pl-34 {
  padding-left: var(--space-34);
}
.pl-35 {
  padding-left: var(--space-35);
}
.pl-36 {
  padding-left: var(--space-36);
}
.pl-37 {
  padding-left: var(--space-37);
}
.pl-38 {
  padding-left: var(--space-38);
}
.pl-39 {
  padding-left: var(--space-39);
}
.pl-40 {
  padding-left: var(--space-40);
}

/* Padding - X Axis (Left + Right) */
.px-0 {
  padding-left: var(--space-0);
  padding-right: var(--space-0);
}
.px-1 {
  padding-left: var(--space-1);
  padding-right: var(--space-1);
}
.px-2 {
  padding-left: var(--space-2);
  padding-right: var(--space-2);
}
.px-3 {
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}
.px-4 {
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}
.px-5 {
  padding-left: var(--space-5);
  padding-right: var(--space-5);
}
.px-6 {
  padding-left: var(--space-6);
  padding-right: var(--space-6);
}
.px-7 {
  padding-left: var(--space-7);
  padding-right: var(--space-7);
}
.px-8 {
  padding-left: var(--space-8);
  padding-right: var(--space-8);
}
.px-9 {
  padding-left: var(--space-9);
  padding-right: var(--space-9);
}
.px-10 {
  padding-left: var(--space-10);
  padding-right: var(--space-10);
}
.px-11 {
  padding-left: var(--space-11);
  padding-right: var(--space-11);
}
.px-12 {
  padding-left: var(--space-12);
  padding-right: var(--space-12);
}
.px-13 {
  padding-left: var(--space-13);
  padding-right: var(--space-13);
}
.px-14 {
  padding-left: var(--space-14);
  padding-right: var(--space-14);
}
.px-15 {
  padding-left: var(--space-15);
  padding-right: var(--space-15);
}
.px-16 {
  padding-left: var(--space-16);
  padding-right: var(--space-16);
}
.px-17 {
  padding-left: var(--space-17);
  padding-right: var(--space-17);
}
.px-18 {
  padding-left: var(--space-18);
  padding-right: var(--space-18);
}
.px-19 {
  padding-left: var(--space-19);
  padding-right: var(--space-19);
}
.px-20 {
  padding-left: var(--space-20);
  padding-right: var(--space-20);
}
.px-21 {
  padding-left: var(--space-21);
  padding-right: var(--space-21);
}
.px-22 {
  padding-left: var(--space-22);
  padding-right: var(--space-22);
}
.px-23 {
  padding-left: var(--space-23);
  padding-right: var(--space-23);
}
.px-24 {
  padding-left: var(--space-24);
  padding-right: var(--space-24);
}
.px-25 {
  padding-left: var(--space-25);
  padding-right: var(--space-25);
}
.px-26 {
  padding-left: var(--space-26);
  padding-right: var(--space-26);
}
.px-27 {
  padding-left: var(--space-27);
  padding-right: var(--space-27);
}
.px-28 {
  padding-left: var(--space-28);
  padding-right: var(--space-28);
}
.px-29 {
  padding-left: var(--space-29);
  padding-right: var(--space-29);
}
.px-30 {
  padding-left: var(--space-30);
  padding-right: var(--space-30);
}
.px-31 {
  padding-left: var(--space-31);
  padding-right: var(--space-31);
}
.px-32 {
  padding-left: var(--space-32);
  padding-right: var(--space-32);
}
.px-33 {
  padding-left: var(--space-33);
  padding-right: var(--space-33);
}
.px-34 {
  padding-left: var(--space-34);
  padding-right: var(--space-34);
}
.px-35 {
  padding-left: var(--space-35);
  padding-right: var(--space-35);
}
.px-36 {
  padding-left: var(--space-36);
  padding-right: var(--space-36);
}
.px-37 {
  padding-left: var(--space-37);
  padding-right: var(--space-37);
}
.px-38 {
  padding-left: var(--space-38);
  padding-right: var(--space-38);
}
.px-39 {
  padding-left: var(--space-39);
  padding-right: var(--space-39);
}
.px-40 {
  padding-left: var(--space-40);
  padding-right: var(--space-40);
}

/* Padding - Y Axis (Top + Bottom) */
.py-0 {
  padding-top: var(--space-0);
  padding-bottom: var(--space-0);
}
.py-1 {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
}
.py-2 {
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
}
.py-3 {
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
}
.py-4 {
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
}
.py-5 {
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
}
.py-6 {
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);
}
.py-7 {
  padding-top: var(--space-7);
  padding-bottom: var(--space-7);
}
.py-8 {
  padding-top: var(--space-8);
  padding-bottom: var(--space-8);
}
.py-9 {
  padding-top: var(--space-9);
  padding-bottom: var(--space-9);
}
.py-10 {
  padding-top: var(--space-10);
  padding-bottom: var(--space-10);
}
.py-11 {
  padding-top: var(--space-11);
  padding-bottom: var(--space-11);
}
.py-12 {
  padding-top: var(--space-12);
  padding-bottom: var(--space-12);
}
.py-13 {
  padding-top: var(--space-13);
  padding-bottom: var(--space-13);
}
.py-14 {
  padding-top: var(--space-14);
  padding-bottom: var(--space-14);
}
.py-15 {
  padding-top: var(--space-15);
  padding-bottom: var(--space-15);
}
.py-16 {
  padding-top: var(--space-16);
  padding-bottom: var(--space-16);
}
.py-17 {
  padding-top: var(--space-17);
  padding-bottom: var(--space-17);
}
.py-18 {
  padding-top: var(--space-18);
  padding-bottom: var(--space-18);
}
.py-19 {
  padding-top: var(--space-19);
  padding-bottom: var(--space-19);
}
.py-20 {
  padding-top: var(--space-20);
  padding-bottom: var(--space-20);
}
.py-21 {
  padding-top: var(--space-21);
  padding-bottom: var(--space-21);
}
.py-22 {
  padding-top: var(--space-22);
  padding-bottom: var(--space-22);
}
.py-23 {
  padding-top: var(--space-23);
  padding-bottom: var(--space-23);
}
.py-24 {
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);
}
.py-25 {
  padding-top: var(--space-25);
  padding-bottom: var(--space-25);
}
.py-26 {
  padding-top: var(--space-26);
  padding-bottom: var(--space-26);
}
.py-27 {
  padding-top: var(--space-27);
  padding-bottom: var(--space-27);
}
.py-28 {
  padding-top: var(--space-28);
  padding-bottom: var(--space-28);
}
.py-29 {
  padding-top: var(--space-29);
  padding-bottom: var(--space-29);
}
.py-30 {
  padding-top: var(--space-30);
  padding-bottom: var(--space-30);
}
.py-31 {
  padding-top: var(--space-31);
  padding-bottom: var(--space-31);
}
.py-32 {
  padding-top: var(--space-32);
  padding-bottom: var(--space-32);
}
.py-33 {
  padding-top: var(--space-33);
  padding-bottom: var(--space-33);
}
.py-34 {
  padding-top: var(--space-34);
  padding-bottom: var(--space-34);
}
.py-35 {
  padding-top: var(--space-35);
  padding-bottom: var(--space-35);
}
.py-36 {
  padding-top: var(--space-36);
  padding-bottom: var(--space-36);
}
.py-37 {
  padding-top: var(--space-37);
  padding-bottom: var(--space-37);
}
.py-38 {
  padding-top: var(--space-38);
  padding-bottom: var(--space-38);
}
.py-39 {
  padding-top: var(--space-39);
  padding-bottom: var(--space-39);
}
.py-40 {
  padding-top: var(--space-40);
  padding-bottom: var(--space-40);
}
