# Node
node_modules/
dist/
build/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Testing
coverage/
*.lcov

# IDE
.vscode/
.idea/
*.sw?

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Package managers
.pnpm-store/
.yarn/

# Misc
*.tgz
